/* Добавляем шрифт для заголовка*/
@font-face {
    font-family: 'COCOMAT-UltraLight';
    src: url('src/fonts/COCOMAT-UltraLight.ttf.woff') format('woff'),
    url('src/fonts/COCOMAT-UltraLight.ttf.svg#COCOMAT-UltraLight') format('svg'),
    url('src/fonts/COCOMAT-UltraLight.ttf.eot'),
    url('src/fonts/COCOMAT-UltraLight.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

.main {
    max-width: 1400px;
    min-width: 1100px;
    background: #f5f5f5;
    margin: 0 auto;
    border: solid black 1px;
}

.header {
    margin: 0 auto;
}

.header__name {
    text-align: center;
    font-size: 185px;
    font-weight: lighter;
    font-family: "COCOMAT-UltraLight", sans;
    text-transform: lowercase;
    color: #ead7d7;
    margin: 0 auto;
}

.body-todo-list {
    max-width: 1100px;
    min-width: 900px;
    margin: auto;
    background: #ffffff;
    border-bottom: 1px solid rgb(194, 192, 184);
    box-shadow: 0 5px 3px -4px rgba(0, 0, 0, .2),
    0 10px 0 -4px rgb(255, 255, 255),
    0 10px 0 -3px rgb(194, 192, 184),
    0 15px 3px -14px rgba(0, 0, 0, .2),
    0 21px 0 -8px rgb(255, 255, 255),
    0 21px 0 -7px rgb(194, 192, 184),
    0 32px 0 -12px rgb(255, 255, 255),
    0 32px 0 -11px rgb(194, 192, 184),
    0 0 9px rgb(194, 192, 184);
    margin-bottom: 55px;
    display: flex;
    flex-direction: column;


}

.todo-list-header {
    box-shadow: 0 -4px 4px #f7f7f7 inset;
    border-bottom: 1px solid #e6e6e6;
    color: #939393;
    font-size: 25px;
    font-family: Verdana, sans;
    font-weight: lighter;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 90px;
    align-items: center;

}

.list-name {
    display: flex;
    margin: 0 15px 0 15px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.list-name__desc {
    min-width: 150px;
}

.list-name__input-name {
    min-width: 450px;
    color: #4d4d4d;
    font-style: normal;
    font-size: 25px;
    width: 100%;
    border: 0px;
    font-weight: 100;
}

.list-header-buttons {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0 10px 0 5px;

}

.new-list-button {
    border: 2px solid;
    border-color: #efd4d4;
    border-radius: 6px;
    margin: 0 5px 0 5px;
    background-color: white;
    color: #939393;
    font-size: 25px;
    font-family: Verdana, sans;
    min-height: 54px;
}

.new-list-button:hover {
    background-color: #fafafa;
}

.del-todo-list {
    color: #e6e6e6;
    font-size: 45px;
    font-family: Verdana, sans;
    height: 60px;
    width: 60px;
    margin: 0 10px 0 10px;
    border: 0px;
    background-color: white;
    vertical-align: center;

}

.del-todo-list:hover {
    color: #4d4d4d;
}


.input-form{
    box-shadow: 0 -4px 4px #f7f7f7 inset;
    border-bottom: 1px solid #e6e6e6;
    width: 100%;
    min-height: 130px;
    display: flex;
    align-items: center;
    flex-direction: row;

}

.input-form__input-section{

    width: 100%;
    font-weight: 100;
    font-family: Verdana, sans;
    font-size: 45px;
    color: #e6e6e6;
    border: 0px;
    font-style: italic;
}

.input-form__submit-button{
    min-height: 100px;
    min-width: 100px;
    font-family: Verdana, sans;
    font-size: 45px;
    border: 0px;
    font-weight: bolder;
    background-color: white;
    color: #e6e6e6;;
}
.input-form__submit-button:hover {
    color: #4d4d4d;
}
.input-form__input-section:focus {
    color: #4d4d4d;
}



.task{
    box-shadow: 0 -4px 4px #f7f7f7 inset;
    border-bottom: 1px solid #e6e6e6;
    width: 100%;
    min-height: 130px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.task_invisible {
    display: none;
}

.task-todo-item{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.task-todo-item__label {
    color: #4d4d4d;
    font-size: 45px;
    font-family: Verdana, sans;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    word-break: break-all;

}

.task-todo-item__label-complite {
    color: #e6e6e6;
    font-style: italic;
    text-decoration: line-through;
}


.task-todo-item__checkbox {
    display: none;
}

.task-todo-item__checkbox-custom {
    margin: 0 20px 0 20px;
    position: relative; /* Обязательно задаем, чтобы мы могли абсолютным образом позиционировать псевдоэлемент внютри нашего кастомного чекбокса */
    min-width: 62px; /* Обязательно задаем ширину */
    min-height: 62px; /* Обязательно задаем высоту */
    border: 2px solid #ccc;
    border-radius: 31px;
    display: inline-block;
    vertical-align: middle;

}


/* Если реальный чекбокс у нас отмечен, то тогда добавляем данный признак и к нашему кастомному чекбоксу  */
.task-todo-item__checkbox:checked + .task-todo-item__checkbox-custom::before {
    content: ""; /* Добавляем наш псевдоэлемент */
    position: absolute; /* Позиционируем его абсолютным образом */
    /* Задаем расстояние от верхней, правой, нижней и левой границы */
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    background: url("im/check4.png") no-repeat; /* Добавляем фон. */
    border-radius: 2px;
}

.task-todo-item__checkbox:checked + .task-todo-item__checkbox-custom {
    border-color: #c4ddd9;
}

.task-ul{
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.task__del-item-button {
    color: #e6e6e6;
    font-size: 45px;
    font-family: Verdana, sans;
    min-height: 60px;
    min-width: 60px;
    margin: 0 25px 0 20px;
    border: 0px;
    background-color: white;
    vertical-align: center;

}

.task__del-item-button:hover {
    color: #4d4d4d;
}

.footer-todo-menu{
    width: 100%;
    min-height: 80px;
    color: #939393;
    font-size: 25px;
    font-family: Verdana, sans;
    font-weight: lighter;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

}

.count{
    margin: 0 15px 0 35px;
}

.change-view-buttons__text{
    padding: 5px;
    border: 2px solid;
    border-color: #ffffff;
    border-radius: 6px;
    margin: 0 14px 0 14px;
    min-height: 54px;

}

.change-view-buttons__radiobox{
    display: none;
}

.change-view-buttons__radiobox:checked + .change-view-buttons__text {
    border-color: #efd4d4;
}

.template {
    display: none;
}

.button-clear-complite {
    background-color: white;
    color: #939393;
    font-size: 25px;
    font-family: Verdana, sans;
    margin: 0 35px 0 15px;
    border: 0px;

}

.footer{
    min-height: 100px;
}
